.gradient-custom {
        /* fallback for old browsers */
        background: #93b0fb;
    
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgb(29, 122, 235), rgb(87, 242, 245));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgb(19, 42, 156), rgb(59, 208, 161))
    }

.mask-custom {
    background: rgba(29, 122, 235, 0.275);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}