<!doctype html>
<html lang="en">
    <head>
      <title>{{ .title }}</title>
      {{template "head.tmpl.html"}}
    </head>

    <body>
        <header>
          {{template "navbar.tmpl.html"}}
        </header>
        <main>
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                      <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">login</h3>
                          <form action="\login" method="post">
              
                            <div class="row">
                              <div class="col-md-6 mb-4">
              
                                <div class="form-outline">
                                  <input type="text" id="firstName" class="form-control form-control-lg" name="username" />
                                  <label class="form-label" for="firstName">username</label>
                                </div>
              
                              </div>
                              <div class="col-md-6 mb-4">
              
                                <div class="form-outline">
                                  <input type="text" id="lastName" class="form-control form-control-lg" name="password"/>
                                  <label class="form-label" for="lastName">password</label>
                                </div>
              
                              </div>
                            </div>              
                            <div class="d-flex align-items-center justify-content-center">
                              <input class="btn btn-primary btn-lg m-4 w-25" type="submit" value="login" />
                              <a href="/register" class="btn btn-primary btn-lg m-4 w-25"> register</a>
                            </div>
              
                          </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            

        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
